<section class="w-full bg-white grid place-items-center py-12 xl:py-24">
  <section
    class="footer-container w-11/12 2xl:w-10/12 px-[5%] py-[3%] rounded-xl flex flex-col gap-5 lg:gap-0 lg:flex-row items-center justify-between"
  >
    <section class="grow">
      <div class="space-y-3.5 w-fit mb-6">
        <div class="flex -space-x-2 *:rounded-full *:ring-3 *:ring-white">
          <img src="images/headshot1.png" alt="" class="bg-green-500" />
          <img src="images/headshot2.png" alt="" class="bg-orange-400" />
          <img src="images/headshot3.png" alt="" class="bg-blue-400" />
        </div>
        <div class="wavy-line"></div>
      </div>
      <div class="space-y-2 xl:space-y-7">
        <h5 class="font-medium text-xl xl:text-3xl">
          Don't quite find what you want?
        </h5>
        <h6 class="font-medium text-base xl:text-xl text-black/80">
          Let us know and we will make it available for you in a jiffy.
        </h6>
      </div>
    </section>
    <section
      class="w-full lg:w-fit flex flex-col lg:grid lg:grid-cols-2 gap-x-5 gap-y-4 grow"
    >
      <div class="space-y-1.5">
        <label for="nameInput" class="block font-medium text-sm text-[#757575]">
          Your name
        </label>
        <input
          type="text"
          name=""
          id="nameInput"
          placeholder="Enter your name"
          class="w-full border border-[#E0E0E0] p-3 font-medium placeholder:font-medium placeholder:text-[#BDBDBD] text-sm placeholder:text-sm rounded-lg"
        />
      </div>
      <div class="space-y-1.5">
        <label
          for="emailInput"
          class="block font-medium text-sm text-[#757575]"
        >
          Email
        </label>
        <input
          type="text"
          name=""
          id="emailInput"
          placeholder="Enter your email"
          class="w-full border border-[#E0E0E0] p-3 font-medium placeholder:font-medium placeholder:text-[#BDBDBD] text-sm placeholder:text-sm rounded-lg"
        />
      </div>
      <div class="space-y-1.5">
        <label
          for="productNameInput"
          class="block font-medium text-sm text-[#757575]"
        >
          Product Name
        </label>
        <input
          type="text"
          name=""
          id="productNameInput"
          placeholder="Enter name of product"
          class="w-full border border-[#E0E0E0] p-3 font-medium placeholder:font-medium placeholder:text-[#BDBDBD] text-sm placeholder:text-sm rounded-lg"
        />
      </div>
      <div class="space-y-1.5">
        <label
          for="vendorNameInput"
          class="block font-medium text-sm text-[#757575]"
        >
          Vendor Name
        </label>
        <input
          type="text"
          name=""
          id="vendorNameInput"
          placeholder="e.g. Jumia, Airpeace, Spotify"
          class="w-full border border-[#E0E0E0] p-3 font-medium placeholder:font-medium placeholder:text-[#BDBDBD] text-sm placeholder:text-sm rounded-lg"
        />
      </div>
      <button
        class="col-span-2 bg-purple text-white rounded-lg p-3 lg:p-4 mt-3 grid place-items-center"
      >
        <p class="flex items-center gap-3 font-bold text-lg">
          Submit
          <span class="material-symbols-outlined"> east </span>
        </p>
      </button>
    </section>
  </section>
</section>
