@import "tailwindcss";

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-Thin.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-ThinItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-Bold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-BoldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-ExtraBold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-ExtraBoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-Black.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Creato Display";
  src: url("../public/fonts/creato_display/CreatoDisplay-BlackItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

:root {
  --black: rgba(27, 28, 30, 1);
  --purple: rgba(148, 68, 203, 1);
  --orange: rgba(238, 111, 55, 1);
}

@theme {
  --color-black: var(--black);
  --color-purple: var(--purple);
  --color-orange: var(--orange);
}

body {
  font-family: "Creato Display", sans-serif;
  color: var(--black);
}

.p-slider-handle {
  background: var(--purple) !important;
}
.p-slider-handle::before {
  background: var(--purple) !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.filled {
  font-variation-settings: "FILL" 1;
}

.p-paginator {
  display: flex !important;
  justify-content: space-between !important;
  background: none !important;
}

.p-paginator.p-component .p-paginator-current {
  margin-right: auto !important;
}

.p-paginator-page {
  border-radius: 0 !important;
}

.p-paginator-page.p-paginator-page-selected {
  background: none !important;
  font-weight: 700 !important;
  color: var(--black) !important;
  border-bottom: 1px solid var(--purple) !important;
}
